name: Test

on:
  pull_request:
  push:
    branches: [main]
    tags: [v*]

permissions:
  contents: read
  actions: write
  id-token: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - uses: pre-commit/action@v3.0.1

      - name: Fetch Cloudsmith OIDC token
        id: cloudsmith-oidc
        uses: ./
        with:
          account: ${{ secrets.CLOUDSMITH_ACCOUNT }}
          service: ${{ secrets.CLOUDSMITH_SERVICE }}

      - name: Verify Cloudsmith OIDC token
        env:
          TOKEN: ${{ steps.cloudsmith-oidc.outputs.token }}
          FILE: ${{ steps.cloudsmith-oidc.outputs.file }}
        run: |
          typ=$(echo "$TOKEN" | cut -d'.' -f1 | base64 -d | jq -r .typ)
          if [[ "$typ" != "JWT" ]]; then
            echo "Invalid token type: $typ"
            exit 1
          fi

          if ! grep -q "CLOUDSMITH_TOKEN=$TOKEN" "$FILE"; then
            echo "Token not found in file $FILE"
            exit 1
          fi
